<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RastreiaHub XP</title>
    
    <link rel="stylesheet" href="static/style.css">
</head>
<body class="app-container">

    <div class="search-screen" id="search-screen">

        <div class="title-bar">

            <span>📦 RastreiaHub.XP</span>
            <div class="window-controls">
                <button class="btn-minimize">_</button>
                <button class="btn-maximize">□</button>
                <button class="btn-close">X</button>
            </div>
        </div>

        <div class="content">

            <p>Digite o codigo da encomenda</p>

            <input type="text" placeholder="AA123456789BR" maxlength="13" id="tracking-code-input">

            <button class="btn-seacrh" id="btn-search">Buscar</button>

        </div>

    </div>

    <div class="tracking-screen" style="display: none" id="tracking-screen">

       <div class="tracking-container">

            <div class="title-bar">

                <span>📦 RastreiaHub.XP</span>
                <div class="window-controls">
                    <button class="btn-minimize">_</button>
                    <button class="btn-maximize">□</button>
                    <button class="btn-close">X</button>
                </div>
            </div>

            <div class="content">

                <button class="btn-back" id="btn-back">Voltar</button>

            </div>
            
            <div class="tracking-header">
                <p>Código: <span id="tracking-code"></span></p>
                <p>Status: <span id="tracking-status"></span></p> 
            </div>
            <div class="tracking-details">
                <p>Origem: <span id="tracking-origin"></span></p>
                <p>Destino: <span id="tracking-destination"></span></p>
                <p>Última atualização: <span id="last-update"></span></p>
            </div>
        </div>

    </div>
    <script src="static/script.js"></script>
</body>

</html>